<a href="https://colab.research.google.com/github/alysha2803/WIA1006-ML-Project/blob/main/mergingprocess_tempprecloss.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
treeloss_df = pd.read_csv('/content/merged_treeloss_dataset.csv')
prec_df = pd.read_csv('/content/merged_precipitation_dataset.csv')
temp_df = pd.read_csv('/content/merged_temperature_dataset.csv')

In [ ]:
treeloss_df.head(), prec_df.head(), temp_df.head()

(   Year   country     Loss
 0  2001  Cambodia  28491.0
 1  2002  Cambodia  54862.0
 2  2003  Cambodia  56840.0
 3  2004  Cambodia  79251.0
 4  2005  Cambodia  64649.0,
    Category   country  Annual Mean
 0      2001  Cambodia      1906.76
 1      2002  Cambodia      1817.18
 2      2003  Cambodia      1776.92
 3      2004  Cambodia      1686.93
 4      2005  Cambodia      1722.67,
    Category   country  Annual Mean
 0      2001  Cambodia        27.28
 1      2002  Cambodia        27.38
 2      2003  Cambodia        27.30
 3      2004  Cambodia        27.29
 4      2005  Cambodia        27.43)

In [ ]:
prec_df.rename(columns={'Annual Mean': 'prec'}, inplace=True)
temp_df.rename(columns={'Annual Mean': 'temp'}, inplace=True)
treeloss_df.rename(columns={'Year': 'year'}, inplace=True)
prec_df.rename(columns={'Category': 'year'}, inplace=True)
temp_df.rename(columns={'Category': 'year'}, inplace=True)

In [ ]:
merged_df = pd.merge(treeloss_df, prec_df, on=['year', 'country'], how='outer')
merged_df = pd.merge(merged_df, temp_df, on=['year', 'country'], how='outer')

In [ ]:
merged_df.head(60)

    year    country       Loss     prec   temp
0   2001   Cambodia    28491.0  1906.76  27.28
1   2002   Cambodia    54862.0  1817.18  27.38
2   2003   Cambodia    56840.0  1776.92  27.30
3   2004   Cambodia    79251.0  1686.93  27.29
4   2005   Cambodia    64649.0  1722.67  27.43
5   2006   Cambodia    80507.0  2030.42  27.42
6   2007   Cambodia    77676.0  2215.91  27.25
7   2008   Cambodia    83500.0  1773.94  26.85
8   2009   Cambodia   121021.0  1859.94  27.24
9   2010   Cambodia   237882.0  1744.49  27.80
10  2011   Cambodia   192155.0  2097.42  26.82
11  2012   Cambodia   195569.0  1817.68  27.70
12  2013   Cambodia   190097.0  2098.12  27.29
13  2014   Cambodia   161797.0  1848.17  27.41
14  2015   Cambodia   132701.0  1658.74  27.80
15  2016   Cambodia   182418.0  1738.23  27.97
16  2017   Cambodia   118333.0  2032.33  27.45
17  2018   Cambodia   113205.0  1770.71  27.47
18  2019   Cambodia   143307.0  1710.63  27.99
19  2020   Cambodia   143488.0  1812.06  27.89
20  2001  Indonesia   744088.0  2864.07  25.93
21  2002  Indonesia   855276.0  2584.74  26.06
22  2003  Indonesia   544810.0  2876.96  25.92
23  2004  Indonesia  1289043.0  2627.12  25.94
24  2005  Indonesia  1182442.0  2731.20  25.95
25  2006  Indonesia  1433150.0  2641.45  25.84
26  2007  Indonesia  1387625.0  2855.85  25.86
27  2008  Indonesia  1396251.0  2997.08  25.73
28  2009  Indonesia  1944963.0  2761.90  26.00
29  2010  Indonesia  1279332.0  3275.81  26.10
30  2011  Indonesia  1543629.0  2898.47  25.90
31  2012  Indonesia  2260260.0  2853.46  26.01
32  2013  Indonesia  1139299.0  2897.18  26.07
33  2014  Indonesia  1894361.0  2590.38  26.04
34  2015  Indonesia  1746470.0  2471.77  26.13
35  2016  Indonesia  2422071.0  2945.20  26.24
36  2017  Indonesia  1300719.0  3014.67  26.05
37  2018  Indonesia  1218732.0  2811.70  26.06
38  2019  Indonesia  1176884.0  2500.53  26.21
39  2020  Indonesia   961588.0  2982.69  26.20
40  2001   Malaysia   332498.0  2965.96  26.39
41  2002   Malaysia   312554.0  2617.40  26.57
42  2003   Malaysia   183911.0  3103.65  26.37
43  2004   Malaysia   351802.0  2779.24  26.33
44  2005   Malaysia   375420.0  2779.18  26.36
45  2006   Malaysia   333901.0  3108.32  26.27
46  2007   Malaysia   405159.0  3240.14  26.20
47  2008   Malaysia   367972.0  3568.67  26.01
48  2009   Malaysia   622781.0  3395.93  26.31
49  2010   Malaysia   430608.0  3091.64  26.43
50  2011   Malaysia   463078.0  3435.63  26.22
51  2012   Malaysia   628171.0  3213.04  26.41
52  2013   Malaysia   333221.0  3085.40  26.50
53  2014   Malaysia   645779.0  2801.23  26.39
54  2015   Malaysia   454345.0  2653.04  26.64
55  2016   Malaysia   565249.0  2829.87  26.93
56  2017   Malaysia   483416.0  3324.94  26.49
57  2018   Malaysia   437985.0  3245.40  26.53
58  2019   Malaysia   395367.0  2589.86  26.80
59  2020   Malaysia   268722.0  3042.18  26.68

In [ ]:
merged_df.to_csv('merged.csv')